body {
  margin: 0;
  font-family: var(--font-sans, Arial, 'Helvetica Neue', Helvetica, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-sans, Arial, 'Helvetica Neue', Helvetica, sans-serif);
}
